*.a
*.o
*.bc
bench/*.ll
bench/*/*.ll
bench/*/*/*.ll
bench/*/*/*/*.ll
*.log
*+Asserts
nbproject
alias-Makefile.mk
config.status
Makefile.common
Makefile.llvm.config
*.exe
*.swp
canary.zip
.sconsign.dblite
bin
*~
.cproject
.project
