.idea
cmake-build-*
build
test
compile_commands.json
.github
.cache
*.a
*.o
benchmarks/*.ll
benchmarks/*/*.ll
benchmarks/*/*/*.ll
benchmarks/*/*/*/*.ll
*.dot
*.log
*+Asserts
nbproject
alias-Makefile.mk
config.status
Makefile.common
Makefile.llvm.config
*.exe
*.swp
canary.zip
.sconsign.dblite
bin
*~
.cproject
.project
